body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

.nav {
  display: flex;
  font-size: 24px;
  margin: 0px;
  list-style: none;
  column-gap: 10px;
  text-decoration: none;
  padding: 0px;
}

.nav a,
.nav a:active {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: blue;
}
